body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.aloitus {
  text-align: center;
}

.interactive {
  display: flex;
  flex-direction: column;
}

.valinnat {
  margin: 20px 0;
}

.tulokset {
  margin: 20px 0;
  border: 1px dotted #000;
  padding: 10px;
}

button {
  font-size: 14px;
  color: #000;
  background: transparent;
  border-width: 1px;
  margin: 2px;
}

h1 {
  font-size: 40px;
  color: #0b1cc1;
}

ul {
list-style-type: none;
padding: 0;
display: flex;
flex-flow: wrap;
}

li {
margin: 5px;
padding: 5px;
border: 1px solid grey;
}

li:hover {
  background: lightgrey;
  cursor: default;
}

.invert {
  color: #fff;
  background: #000;
  padding: 0 2px;
}

li.uusi::after {
  content: 'uusi';
  position: relative;
  background: rgb(253, 255, 117);
  color: #9c6109;
  font-size: 0.7em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  font-weight: 600;
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 20px;
  top: 10px;
  left: 10px;
  clip-path: polygon(50% 0, 73% 18%, 100% 0, 100% 100%, 76% 81%, 48% 100%, 24% 81%, 0 100%, 0 0, 23% 17%);
}
.ammatti {
  font-size: 0.75em;
}

.huom {
  font-size: 0.75em;
  color: grey;
  margin-top: -20px;
}

.passiivinen {
  border: 1px solid black;
  background: #fff;
}

.aktiivinen {
  background: #000;
  color: #fff;
}

.resetBtn {
  border: 1px solid red;
}

.yhteensä {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  background: rgb(255, 254, 208);
  border: 1px solid black;
  z-index: 1;
}


/* Deskari ///////// */

@media only screen and (min-width: 800px) {
 
  .interactive {
    flex-direction: row;
  }
  .valinnat {
    width: 50%;
  }
  .tulokset {
    width: 50%;
  }
  .yhteensä {
    position: static;
    margin: 10px 0;
  }
  
}